<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.mapper.sentence.MarkWordExplainsMapper">
  <resultMap id="BaseResultMap" type="com.xyy.domain.dto.sentence.MarkWordExplains">
    <id column="mwe_id" jdbcType="CHAR" property="mweId" />
    <result column="msw_id" jdbcType="CHAR" property="mswId" />
    <result column="explains" jdbcType="VARCHAR" property="explains" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    mwe_id, msw_id, explains, create_time
  </sql>
  <select id="selectMarkWordExplainsById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mark_word_explains
    where mwe_id = #{mweId,jdbcType=CHAR}
  </select>

  <delete id="deleteMarkWordExplains" parameterType="java.lang.String">
    delete from mark_word_explains where mwe_id = #{mweId,jdbcType=CHAR}
  </delete>

  <insert id="insertMarkWordExplainsBatch" parameterType="java.util.List">
    insert into mark_word_explains (mwe_id, msw_id, explains, create_time) values
    <foreach collection="markWordExplains" item="item" index="index" separator="," >
      (#{item.mweId,jdbcType=CHAR}, #{item.mswId,jdbcType=CHAR}, #{item.explains,jdbcType=VARCHAR}, now())
    </foreach>
  </insert>


</mapper>