<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.mapper.sentence.MarkSingleWordMapper">
  <resultMap id="BaseResultMap" type="com.xyy.domain.dto.sentence.MarkSingleWord">
    <id column="msw_id" jdbcType="CHAR" property="mswId" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="singel_word" jdbcType="VARCHAR" property="singelWord" />
    <result column="phonetic" jdbcType="VARCHAR" property="phonetic" />
    <result column="consult_status" jdbcType="CHAR" property="consultStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    msw_id, user_id, singel_word, phonetic, consult_status, create_time, update_time
  </sql>
  <select id="selectMarkSingleWordById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from mark_single_word
    where msw_id = #{mswId,jdbcType=CHAR}
  </select>

  <delete id="deleteMarkSingleWord" parameterType="java.lang.String">
    delete from mark_single_word where msw_id = #{mswId,jdbcType=CHAR}
  </delete>

  <insert id="insertMarkSingleWord" parameterType="com.xyy.domain.dto.sentence.MarkSingleWord">
    insert into mark_single_word
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mswId != null">
        msw_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="singelWord != null">
        singel_word,
      </if>
      <if test="phonetic != null">
        phonetic,
      </if>
      <if test="consultStatus != null">
        consult_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mswId != null">
        #{mswId,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="singelWord != null">
        #{singelWord,jdbcType=VARCHAR},
      </if>
      <if test="phonetic != null">
        #{phonetic,jdbcType=VARCHAR},
      </if>
      <if test="consultStatus != null">
        #{consultStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updateMarkSingleWord" parameterType="com.xyy.domain.dto.sentence.MarkSingleWord">
    update mark_single_word
    set phonetic = #{phonetic,jdbcType=VARCHAR},
      consult_status = #{consultStatus,jdbcType=CHAR}
    where msw_id = #{mswId,jdbcType=CHAR}
  </update>
</mapper>