<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.mapper.sentence.SentenceWordRelMapper">
  <resultMap id="BaseResultMap" type="com.xyy.domain.dto.sentence.SentenceWordRel">
    <id column="swl_id" jdbcType="CHAR" property="swlId" />
    <result column="esl_id" jdbcType="CHAR" property="eslId" />
    <result column="msw_id" jdbcType="CHAR" property="mswId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteSentenceWordRelById" parameterType="java.lang.String">
    delete from sentence_word_rel where swl_id = #{swlId,jdbcType=CHAR}
  </delete>

  <insert id="insertSentenceWordRel" parameterType="com.xyy.domain.dto.sentence.SentenceWordRel">
    insert into sentence_word_rel (swl_id, esl_id, msw_id, create_time)
    values (#{swlId,jdbcType=CHAR}, #{eslId,jdbcType=CHAR}, #{mswId,jdbcType=CHAR}, now())
  </insert>
</mapper>